<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element | fullName }}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.status ? "APROBADO" : "REPROBADO"}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>
      <div *ngIf="role == 'admin'" class="title">Editar</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" *ngIf="role == 'admin'" (click)="dialogEditStudent(element)">
        <div>
          <mat-icon>edit</mat-icon>
        </div>
      </button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
      <div *ngIf="role == 'admin'" class="title">Borrar</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="delete(element)" *ngIf="role == 'admin'">
        <div>
          <mat-icon>delete</mat-icon>
        </div>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>