<mat-toolbar color="primary">
  <!--TOOLBAR-->
  <button mat-icon-button class="icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span appFontSize>Panel Administrativo</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="navigate(0)" class="icon favorite-icon">
    <mat-icon >home</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
<!--MENÚ LATERAL-->
  <mat-drawer #drawer class="sidenav" mode="side">
    <!--SECCIONES-->
    <div class="dflex">
      <button color="accent" (click)="navigate(1)" class="my-10" mat-raised-button>
        Formulario de Registro
      </button>
      <button color="accent" (click)="navigate(2)" class="my-10" mat-raised-button>
        Listado de Alumnos
      </button>
      <button color="accent" (click)="navigate(3)" class="my-10" mat-raised-button>
        Cursos
      </button>
      <button color="accent" (click)="navigate(4)" class="my-10" mat-raised-button>
        Asistencia
      </button>
      <button color="accent" disabled class="my-10" mat-raised-button>
        Acciones
      </button>
      <button color="accent" disabled class="my-10" mat-raised-button>
        Configuración
      </button>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
