* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: -webkit-center;
}

body {
  line-height: 1;
  display: flex;
  justify-content: center;
}

table {
  width: 800px;
  margin-top: 100px;
  font-size: 18px;
  border-collapse: collapse;
}

td,
th {
  padding: 16px 24px;
  text-align: left;
  font-weight: normal;
}

thead tr {
  background-color: rgb(194,24,91);
}

thead th {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: rgb(66,66,66)
}

tbody tr:nth-child(even) {
  background-color: rgb(66,66,66)
}
